@model IEnumerable<adminlte.TASProgramacionHorarioInstructorService.TASProgramacionHorarioInstructorLineaEntity>

@{
    ViewBag.Title = "TASProgramacionHorarioInstructorLista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            TAS
            <small>Horario Instructor</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Programacion Horario</a></li>
            <li class="active">Asignado</li>
        </ol>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- Default box -->
        <div class="box box-primary">

            <div class="box-header with-border">
                <h3 class="box-title">CIAC TAS</h3>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            @*<form role="form">*@
            <div class="box-body">

                <div id="calendar" style="margin-top:10px;margin-right:10px;"></div>

            </div>
            <!-- /.box-body -->
            @*</form>*@

        </div>
        <!-- /.box -->
    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->
@*@Scripts.Render("~/bundles/jquery")*@
@section Scripts {
    <script type="text/javascript">

    @*$(document).ready(function () {

        var now = new Date();
        var strDate = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate();

        var event = Array();
        console.log("ACA")
        $.each(@Model, function (i, entry) {
            console.log("Modelo")
            var newDate = new Date(parseInt(entry.FechaInicio.substr(6)));
            var formattedDate = newDate.getFullYear() + "-" + (newDate.getMonth() + 1) + "-" + newDate.getDate()
            alert(formattedDate)
            var colorEvent = 'green'
            if (new Date(formattedDate).getTime() >= new Date(strDate).getTime() && new Date(formattedDate).getTime() <= new Date(new Date().getTime() + 2 * 24 * 60 * 60 * 1000)) {
                            colorEvent = '#cccc00'
            } else if ((new Date(strDate).getTime() > new Date(formattedDate).getTime())) {
                            colorEvent = 'red'
            }
            event.push({
                title: entry.Grupo + " " + entry.Materia, start: entry.FechaInicio, end: entry.FechaFin, allDay: false, color: colorEvent
            });
        });

        $('#calendar').fullCalendar({
            allDayText: 'Todo el Dia',
            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
            buttonText: { today: 'Hoy', month: 'Mes', week: 'Semana', day: 'Día' },
            header: { left: 'prev,next today', center: 'title', right: 'month,agendaWeek,agendaDay' },
            timezone: "local",
            //minTime: "05:00:00",
            //maxTime: "22:00:00",
            editable: false
            //events: event
        });

        $('#calendar').fullCalendar('removeEvents');
        $('#calendar').fullCalendar('addEventSource', event);
        $('#calendar').fullCalendar('rerenderEvents');


        $("#ToggleSideMenu").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    });*@

    $(document).ready(function () {

                var now = new Date();
                var strDate = now.getFullYear() + '-' + (now.getMonth() + 1) + '-' + now.getDate();
                $.ajax({
                    url: "GetEvents",
                    type: 'POST',
                    dataType: 'json',
                    success: function (data) {
                        var event = Array();
                        $.each(data.events, function (i, entry) {
                            console.log(entry)
                            var newDate = new Date(parseInt(entry.FechaInicio.substr(6)));
                            var formattedDate = newDate.getFullYear() + "-" + (newDate.getMonth() + 1) + "-" + newDate.getDate()
                            var colorEvent = 'green'
                            if (new Date(formattedDate).getTime() >= new Date(strDate).getTime() && new Date(formattedDate).getTime() <= new Date(new Date().getTime() + 2 * 24 * 60 * 60 * 1000)) {
                                colorEvent = '#cccc00'
                            } else if ((new Date(strDate).getTime() > new Date(formattedDate).getTime())) {
                                colorEvent = 'red'
                            }
                            event.push({
                                title: "Grupo: " + entry.Grupo + " Materia: " + entry.Materia + " Aula: " + entry.Aula, start: entry.FechaInicio, end: entry.FechaFin, allDay: false, color: colorEvent
                            });
                        });
                        $('#calendar').fullCalendar({
                            allDayText: 'Todo el Dia',
                            monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                            monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                            dayNames: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                            dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
                            buttonText: { today: 'Hoy', month: 'Mes', week: 'Semana', day: 'Día' },
                            header: { left: 'prev,next today', center: 'title', right: 'month,agendaWeek,agendaDay' },
                            timezone: "local",
                            //minTime: "05:00:00",
                            //maxTime: "22:00:00",
                            editable: false
                            //events: event
                        });
                        $('#calendar').fullCalendar('removeEvents');
                        $('#calendar').fullCalendar('addEventSource', event);
                        $('#calendar').fullCalendar('rerenderEvents');
                    }
                });


    });

    $(document).ready(function () {
        $("#ToggleSideMenu").click(function (e) {
            e.preventDefault();
            $("#wrapper").toggleClass("toggled");
        });
    });

    </script>
}
