


    <div class="form-horizontal">
        <h4>Sistema-Clase Usuario-Nuevo</h4>
        <hr />
         <div class="box-body">

            @ViewBag.Mensaje

        </div>

        <div class="modal-footer">
            <span id="progress" class="text-center" style="display: none;">

                Wait..
            </span>

            <input class="btn btn-primary" type="button" id="btnAceptar" value="Aceptar" />
            @*<button class="btn btn-warning" data-dismiss="modal" style="">
                Cerrar
            </button>*@
        </div>

    </div>

    <script type="text/javascript">

        $('#btnAceptar').click(function(){
            alert('asdasd')
        })


    </script>
